@charset 'utf-8';

@import "_loader";
@import "_utility";

html, body{
  font-size: 16px;
  //height: 100%;
  //margin: 0;
}

.sidebar{
  height: 100%;
  margin: 0;
}

.sidebar-sticky{
  min-height: calc(100% - 115px); // 100% minus height of sidebar-footer
}

.post-title{
  text-align: center;
}
